<%- include('_header') -%>
<div class="app-layout">
  <div class="app-navbar">
    <span>
      <% if (typeof pet === 'undefined') { %>
        New
      <% } else { %>
        Edit
      <% } %>
      Pet of <%= owner.name %>
    </span>
    <div>
      <a href="/logout">Logout</a>
    </div>
  </div>
  <div class="app-content editor-page">
    <form method="post" class="editor-form">
      <div class="form-item">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          value="<%= (typeof pet === 'undefined') ? '' : pet.name %>"
          placeholder="Name..."
          class="form-input"
        />
      </div>
      <div class="form-item">
        <label for="birthday">Birthday</label>
        <input
          type="text"
          name="birthday"
          value="<%= (typeof pet === 'undefined') ? '' : pet.birthday %>"
          placeholder="Birthday..."
          class="form-input"
        />
      </div>
      <div class="form-item">
        <label for="address">Species</label>
        <input
          type="text"
          name="species"
          value="<%= (typeof pet === 'undefined') ? '' : pet.species %>"
          placeholder="Species..."
          class="form-input"
        />
      </div>
      <div class="form-item">
        <label for="phonenumber">Sex</label>
        <input
          type="text"
          name="sex"
          value="<%= (typeof pet === 'undefined') ? '' : pet.sex %>"
          placeholder="Sex..."
          class="form-input"
        />
      </div>
      <div class="form-row">
        <input
        type="submit"
        value="Submit"
        class="btn-blue"
        />
        <a
          href="/pet/<%= owner.id %>"
          class="btn-red"
        >Cancel</a>
      </div>
    </form>
  </div>
</div>
<%- include('_footer') -%>