<%- include('_header') -%>
<div class="app-layout">
  <div class="app-navbar">
    <span>List of Owners</span>
    <div>
      <a href="/owner/new">New</a>
      <a href="/logout">Logout</a>
    </div>
  </div>
  <div class="app-content table-view">
    <div class="table-container">
      <table class="grid-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Birthday</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% owners.forEach(function(owner) { %> 
            <tr>
              <td>
                <%= owner.name %>
              </td>
              <td>
                <%= owner.birthday %>
              </td>
              <td>
                <%= owner.address %>
              </td>
              <td>
                <%= owner.phonenumber %> 
              </td>
              <td class='actions'>
                <a href="/pet/<%= owner.id %>">Pets</a>
                <a href="/owner/edit/<%= owner.id %>">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <a href="/owner/delete/<%= owner.id %>" class="hover-red">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </td>
            </tr>
            <% }); %> 
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('_footer') -%>